<!-- Section: Design Block -->
<header class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-right-to-bracket"></i> Login
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<section class="py-4 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4>Iniciar Sesión:</h4>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" ngForm (ngSubmit)="onLogin()" novalidate>
                            <div class="form-group mb-4">
                                <label for="nombreUsuario">Nombre del Usuario</label>
                                <input type="email" name="nombreUsuario" class="form-control"
                                    [(ngModel)]="nombreUsuario" required />
                            </div>
                            <div class="form-group mb-4">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" [(ngModel)]="password"
                                    required />
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-center mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                            checked />
                                        <label class="form-check-label" for="form2Example31">Recordarme</label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <input type="submit" value="Ingresar" class="btn btn-primary btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>