<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/APLogo2.png" alt="logo Argentina Programa" width="60" height="44"
                class="d-inline-block align-text" />Argentina Programa - #YoProgramo.
        </a>
        <div>
            <a class="navbar-brand me-2" href="#">
                <img src="../../../assets/img/github.png" alt="github" width="30" height="24" />
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/img/linkedin.png" alt="LinkedIn" width="30" height="24" />
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/img/instagram.png" alt="Instagram" width="30" height="24" />
            </a>
        </div>
    </div>
</nav>
