<header class="flex-wrap">
    <nav class="navbar navbar-light bg-info">
        <div class="container-fluid">
            <a href="#" class="navbar-brand" href="#">
                <img src="../../../assets/img/APLogo2.png" alt="logo Argentina Programa" width="60" height="44"
                    class="d-inline-block align-text"/>Argentina Programa - #YoProgramo.
            </a>
            <div class="text-end">
                <a href="#" class="navbar-brand me-2" href="#">
                    <img src="../../../assets/img/github.png" alt="github" width="30" height="24" />
                </a>
                <a href="#" class="navbar-brand me-2" href="#">
                    <img src="../../../assets/img/linkedin.png" alt="LinkedIn" width="30" height="24" />
                </a>
                <a href="#" class="navbar-brand me-2" href="#">
                    <img src="../../../assets/img/instagram.png" alt="Instagram" width="30" height="24" />
                </a>
                <button class="btn btn-outline-light me-2" type="button">Login</button>

                <button class="btn btn-warning" type="button">Sign-up</button>
            </div>
        </div>
    </nav>
    <div class="row">
        <img src="../../../assets/img/imgProfile.PNG" class="img-fluid" alt="banner">
    </div>    
</header>

