<div class="container">
    <div class="row">
        
    </div>
</div>
<p>Formación académica
    Estudios Terciarios:
    
    ISPC: Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales - Nivel I (finalizado), Nivel II en curso 2022.
    
    ISCET - Comercio Internacional. (Incompleto)
    Cursos - Secretaria de Extensión de la Facultad de ciencias económicas:
    Auxiliar Administrativo Contable y Tango gestión
    
    Estudios Secundarios Córdoba, Argentina:
    CBU: Escuela Modelo de Juegos y Deportes Racing.
    CE: Cenma n* 19 - Bachiller Producción de Bienes y servicios.
</p>
<p>
    Cursos
    
2018 Inteligencia Emocional / CFP.
2017 Eneagrama de la Personalidad,
Nivel 1 y 2 / CFP.
2017 Negociación /CFP.
2018 Excel Básico- Intermedio
Avanzado/ CFP.
2016 Workshop - Gestion de los
Talentos / CFP.
2018 Workshop - Liderazgo
conciente e integración
emocional.
2021 Argentina Programa, primer
etapa - Se Programar.
Argentina Programa, segunda
etapa - Yo programo.
2022
2022
Angular - De cero a experto /
Udemy.
</p>

