<section>
    <div class="row py-1">
    </div>
</section>
<section class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h1 class="featurette-heading">
                {{persona.nombre}} {{persona.apellido}}
                <span class="text-muted">
                    <br>                    
                    Full Stack Developer Jr.
                </span>
            </h1>
            <p class="lead">
                <br>
                Me encuentro actualmente cursando la Tecnicatura en Desarrollo web y
                Aplicaciones Digitales en el Instituto Superior Politécnico Córdobna - ISPC;
                tambien una capacitacion Full Stack Java Developer en EGG y realizando capacitaciones de manera
                autodidacta.
            </p>
        </div>
        <div class="col-md-5 order-md-1">            
            <img src="../../../assets/img/erika.PNG" class="rounded-circle bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="250" height="250" alt="">
        </div>
    </div>

</section>