<section>
    <div class="row py-1">
    </div>
</section>
<section class="container marketing">
    <div class="row featurette">
        <div  class="col-md-7 order-md-2">
            <table *ngFor="let Persona">
                <tbody>
                    <tr>
                        <td>
                        <h1 class="featurette-heading">
                            {{Persona.nombre}} {{Persona.apellido}}
                            <span class="text-muted">                                
                                {{Persona.titulo}}
                            </span>
                        </h1>
                    </td>
                    <td>
                        <p class="lead">
                            {{Persona.descripcion}}
                        </p>
                    </td>
                    <td>
                        <div class="col-md-5 order-md-1">
                            <img {{Persona.imgPerfil}}
                                class="rounded-circle bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                width="250" height="250" alt="">
                        </div>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>