<section class="container mb-5 py-5">
    <div class="container-fluid bg-primary">
        <div class="container-fluid mb-2 py-5" *ngIf="proyecto">
            <div class="row" class="col-sm-4 col-md-6 col-lg-12 mb-3">
                <div>
                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                        <div class="form-group mb-4 py-2 text-white">
                            <label for="nombreP" class="mb-3">Nombre del Proyecto:</label>
                            <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP" required>                    
                        </div>
                        <div class="form-group mb-4 text-white">
                            <label for="descripcionP" class="mb-3">Descripcion del Proyecto:</label>
                            <textarea type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" required></textarea>                   
                        </div>
                        <div class="form-group mb-4 text-white">
                            <label for="imgP" class="mb-3">Ruta primer img del Proyecto:</label>
                            <textarea type="text" class="form-control" id="imgP" name="imgP" [(ngModel)]="proyecto.imgP" required></textarea>                   
                        </div>
                        <div class="form-group mb-4 text-white">
                            <label for="imgP2" class="mb-3">Ruta segunda img del Proyecto:</label>
                            <textarea type="text" class="form-control" id="imgP2" name="imgP2" [(ngModel)]="proyecto.imgP2" required></textarea>                   
                        </div>
                        <div class="form-group mb-4 text-white">
                            <label for="imgP3" class="mb-3">Ruta tercer img del Proyecto:</label>
                            <textarea type="text" class="form-control" id="imgP3" name="imgP3" [(ngModel)]="proyecto.imgP3" required></textarea>                   
                        </div>          
                        <button class="btn btn-dark">Editar Proyecto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
