<section class="container-fluid bg-success bg-opacity-50 py-3">
    <div>
        <div class="container py-2">
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-8">
                    <h2>
                        Proyectos realizados
                    </h2>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" class="col-lg-4">
                    <button type="button" class="btn btn-dark btn-sm" routerLink="/newlogro" *ngIf="isLogged">
                        Agregar Proyecto
                    </button>
                </div>
            </div>
        </div>
        <div class="container bg-primary bg-opacity-75">
            <div class="row">
                <div class="mb-4 text-center">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let Proyecto of proyecto">

                                <div class="row">
                                    <div>
                                        <h3 class="text-center text-light py-2">
                                            {{Proyecto.nombreP}}
                                        </h3>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button *ngIf="isLogged" class="btn"
                                                routerLink="/editlogro/{{Proyecto.id}}">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button *ngIf="isLogged" class="btn" (click)="borrar(Proyecto.id)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p class="text-light">
                                        {{Proyecto.descripcionP}}
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-6 col-lg-4 py-2">
                                            <img [src]="Proyecto.imgP" class="img-fluid mx-auto" width="400" height="400"
                                                alt="imagen Proyecto">
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-4 py-2">
                                            <img [src]="Proyecto.imgP2" class="img-fluid mx-auto" width="400" height="400"
                                                alt="imagen Proyecto">
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-4 py-2">
                                            <img [src]="Proyecto.imgP3" class="img-fluid mx-auto" width="400" height="400"
                                                alt="imagen Proyecto">
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <td>
    <h3 class="text-center text-light py-2">
        Mi Portfolio Web
    </h3>
</td>
<td>
    <p class="text-light">
        Este proyecto lo comence el 18 de Agosto del 2022, el contenido del mismo se conforma con base a lo
        requerido
        en la Guía del <a href="#" target="_blank" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
            class="link-light">Proyecto Integrador</a>. Buscando que la UI sea atractiva e innovadora y la
        UX completamente funcional.
    </p>
    <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                                        <img src="../../../assets/img/proyectos/imagenPortfolio2.PNG"
                                            class="img-fluid mx-auto" width="300" height="300" alt="imagen Portfolio 2">
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                                        <img src="../../../assets/img/proyectos/imagenPortfolio3.PNG"
                                            class="img-fluid mx-auto" width="300" height="300" alt="imagen Portfolio 3">
                                    </div> -->
<!-- </td> -->
<!-- <div class="container bg-primary bg-opacity-50 mb-2">
    <div class="row">
        <div class="mb-4 text-center">
            <h3 class="text-center text-light py-2">
                Framework Angular
            </h3>
            <p class="text-light">
                La Aplicacion <a href="https://control-clientes-9ac65.firebaseapp.com/login" target="_blank" 
                data-bs-toggle="tooltip" data-bs-title="Default tooltip" data-bs-target="" class="link-light">"Control Clientes"</a>
                la comence el 24 de Mayo del 2022. Esta creada con TypeScript, HTML5, CSS y JavaScript, cuenta con registro y login 
                para agregar clientes, editarlos y eliminarlos. Realiza el calculo del saldo de los clientes
                y los contabiliza por mas que sean saldos negativos.
            </p>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/controlClientes1.PNG" class="img-fluid mx-auto"
                        width="300" height="300" alt="imagen Portfolio">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/controlClientes2.PNG" class="img-fluid mx-auto"
                        width="300" height="300" alt="imagen Portfolio 2">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/controlClientes3.PNG" class="img-fluid mx-auto"
                        width="300" height="300" alt="imagen Portfolio 3">
                </div>
                <p class="text-light">
                    Tambien cree las Aplicaciones:
                    <a href="https://github.com/erkcgn/listado-personas" target="_blank" data-bs-toggle="tooltip"
                        data-bs-title="Default tooltip" class="link-light">Listado Personas</a>,
                    <a href="https://github.com/erkcgn/presupuesto-app" target="_blank" data-bs-toggle="tooltip"
                        data-bs-title="Default tooltip" class="link-light">Presupuesto</a> y
                    <a href="https://github.com/erkcgn/calculadora-app" target="_blank" data-bs-toggle="tooltip"
                        data-bs-title="Default tooltip" class="link-light">Calculadora</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container bg-primary bg-opacity-25 mb-2">
    <div class="row">
        <div class="mb-4 text-center">
            <h3 class="text-center text-light py-2">
                Practicando Front End
            </h3>
            <p class="text-light">
                Este sitio <a href="https://practicandocodigo-erkcgn.netlify.app" target="_blank"
                    data-bs-toggle="tooltip" data-bs-title="Default tooltip" data-bs-target=""
                    class="link-light">"Festival de Música"</a> lo comence el 22 de Abril del 2022.
                Es un sitio web creado con HTML5, CSS3, JS, SASS y GULP.
                Actualmente cuenta con tres paginas, es 100% responsive
            </p>
            <div class="row mb-1">
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/FrontEnd4.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/FrontEnd8.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio 2">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/FrontEnd5.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio 3">
                </div>
            </div>
            <div class="row mb-1 text-center">
                <div class="col-sm-6 col-md-6 col-lg-6 py-2">
                    <img src="../../../assets/img/proyectos/FrontEnd6.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 py-2">
                    <img src="../../../assets/img/proyectos/FrontEnd7.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio 2">
                </div>
            </div>
            <div class="row mb-2">
                <p class="text-light">
                    <a href="https://primersitioweb-erkcgn.netlify.app" target="_blank" data-bs-toggle="tooltip"
                        data-bs-title="Default tooltip" class="link-light">"Mi Primer Proyecto individual"</a>; lo
                    comence en octubre del 2021 y
                    pude publicarlo el 25 Marzo de 2022.
                    Es un sitio web creado con HTML5, CSS3 y actualmente cuenta con pagina
                    de inicio que tiene detalle de servicios y formulario de contacto.
                </p>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/FrontEnd1.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/FrontEnd2.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio 2">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/FrontEnd3.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio 3">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-primary bg-opacity-10 mb-2">
    <div class="row">
        <div class="mb-4 text-center">
            <h3 class="text-center text-light py-2">
                Gestor de Stock - ISPC
            </h3>
            <p class="text-light">
                Participo en este proyecto llamado <a href="https://github.com/erkcgn/g03-aula1-gestorstock-g03"
                    target="_blank" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
                    class="link-light">"Gestor de Stock"</a> el cual comenzó en agosto del 2021;
                es parte del Modulo Prgogramador Web del ISPC; aqui estoy cursando la Tecnicatura en Desarrollo Web
                y Aplicaciones Digitales.
            </p>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/GestorStock1.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/GestorStock2.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio 2">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 py-2">
                    <img src="../../../assets/img/proyectos/GestorStock3.PNG" class="img-fluid mx-auto" width="300"
                        height="300" alt="imagen Portfolio 3">
                </div>
            </div>
        </div>
    </div>
</div> -->