<header class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-diagram-project"></i> Crear Proyecto
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="py-4 mb-4 bg-primary bg-opacity-25">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<section class="py-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary bg-opacity-10">
                        <h4>Completar Datos:</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                            <div class="form-group mb-3">
                                <label for="nombreP">Nombre del Proyecto</label>
                                <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>                    
                            </div>
                            <div class="form-group mb-3">
                                <label for="descripcionP">Descripcion del Proyecto</label>
                                <textarea type="text" class="form-control" id="descripcionP" name="descripcionP" cols="20" rows="5" [(ngModel)]="descripcionP" required></textarea>                   
                            </div>
                            <div class="form-group mb-3">
                                <label for="imgP">Ruta primer img del Proyecto</label>
                                <input type="text" class="form-control" id="imgP" name="imgP" [(ngModel)]="imgP" required>                  
                            </div>
                            <div class="form-group mb-3">
                                <label for="imgP2">Ruta segunda img del Proyecto</label>
                                <input type="text" class="form-control" id="imgP2" name="imgP2" [(ngModel)]="imgP2" required>                  
                            </div>
                            <div class="form-group mb-3">
                                <label for="imgP3">Ruta tercer img del Proyecto</label>
                                <input type="text" class="form-control" id="imgP3" name="imgP3" [(ngModel)]="imgP3" required>                  
                            </div>
                            <div class="form-group mb-3">
                                <label for="opacity">Link del Proyecto</label>
                                <input type="url" class="form-control" id="opacity" name="opacity" [(ngModel)]="link" required>                  
                            </div>       
                            
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <input type="submit" value="Crear Proyecto" class="btn btn-primary btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>