<section class="container py-2 pt-2" class="hero">
    <section class="contenido-hero">
        <section class="container py-2">
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-8 div-fuente-titulos">
                    <h2 class="text-light">
                        Formación Académica
                    </h2>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" class="col-lg-4">
                    <button type="button" class="btn btn-dark btn-sm" routerLink="/nuevaedu" *ngIf="isLogged">
                        Agregar Educación
                    </button>
                </div>
            </div>
        </section>
        <section class="container py-2 px-5">
            <div class="row">
                <table class="table-responsive">
                    <tbody>
                        <tr *ngFor="let Educacion of educacion">
                            <div class="container col-md-8 mb-3">
                                <div class="row" class="bd-callout bd-callout-warning">
                                    <td>
                                        <h4 class="col-sm-4 col-md-6 col-lg-8" class="card-header text-light">
                                            {{Educacion.nombreE}}
                                        </h4>
                                    </td>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <td *ngIf="isLogged">
                                            <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                        <td *ngIf="isLogged">
                                            <button class="btn btn-light" (click)="borrar(Educacion.id)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </div>
                                </div>
                                <div class="row" class="bd-callout bd-callout-violet">
                                    <td>
                                        <p class="text-light">
                                            {{Educacion.descripcionE}}
                                        </p>
                                    </td>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
</section>




<!-- <section class="container-fluid ">    
    <section class="container py-2">
        <div class="row">
            <div class="">
                <h2>
                    Formación Académica
                </h2>
            </div>
        </div>
    </section>
<section class="container col-md-6">    
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    Estudios Terciarios:
                </h4>
            </div>
            <br>
            <div class="container">
                <ul>
                    <div class="bd-callout bd-callout-danger">
                        <strong>ISPC:</strong> Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales.
                        <br>
                        Nivel I (finalizado), Nivel II en curso 2022.
                    </div>
                    <br>
                    <div class="bd-callout bd-callout-primary">
                        <strong>ISCET:</strong> Comercio Internacional. (Incompleto)
                    </div>
                    <br>
                    <div class="bd-callout bd-callout-warning">
                        <strong>Secretaria de Extensión - UNC:</strong>
                        <br>
                        Auxiliar Administrativo Contable.
                        <br>
                        Tango gestión.
                    </div>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>
                    Cursos - Capacitaciones:
                </h4>
            </div>
            <br>
            <div class="container">
                <ul>
                    <div class="bd-callout bd-callout-greenlight">
                        <ul>
                            <li>
                                <strong>2022:</strong><br>
                                Angular - De cero a experto / Udemy.
                                <br>
                                #Yo programo / Argentina Programa.
                                <br>
                                Programacion Full Stack / Egg-online.
                            </li>
                            <li>
                                <strong>2021:</strong><br>
                                Se Programar / Argentina Programa.
                            </li>
                            <li>
                                <strong>2018:</strong><br>
                                Workshop - Liderazgo consiente e integración emocional / CFP.
                                <br>
                                Inteligencia Emocional / CFP.
                                <br>
                                Excel Básico- Intermedio Avanzado/ CFP.
                            </li>
                            <li>
                                <strong>2017:</strong><br>
                                Eneagrama de la Personalidad, nivel 1 y 2 / CFP.
                                <br>
                                Negociación /CFP.
                            </li>
                            <li>
                                <strong>2016:</strong><br>
                                Workshop - Gestion de los Talentos / CFP.
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </section>
</section>
</section> -->