<section class="container-fluid ">    
    <section class="container py-2">
        <div class="row">
            <div class="">
                <h2>
                    Formación Académica
                </h2>
            </div>
        </div>
    </section>
<section class="container col-md-6">    
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    Estudios Terciarios:
                </h4>
            </div>
            <br>
            <div class="container">
                <ul>
                    <div class="bd-callout bd-callout-danger">
                        <strong>ISPC:</strong> Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales.
                        <br>
                        Nivel I (finalizado), Nivel II en curso 2022.
                    </div>
                    <br>
                    <div class="bd-callout bd-callout-primary">
                        <strong>ISCET:</strong> Comercio Internacional. (Incompleto)
                    </div>
                    <br>
                    <div class="bd-callout bd-callout-warning">
                        <strong>Secretaria de Extensión - UNC:</strong>
                        <br>
                        Auxiliar Administrativo Contable.
                        <br>
                        Tango gestión.
                    </div>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>
                    Cursos - Capacitaciones:
                </h4>
            </div>
            <br>
            <div class="container">
                <ul>
                    <div class="bd-callout bd-callout-greenlight">
                        <ul>
                            <li>
                                <strong>2022:</strong><br>
                                Angular - De cero a experto / Udemy.
                                <br>
                                #Yo programo / Argentina Programa.
                                <br>
                                Programacion Full Stack / Egg-online.
                            </li>
                            <li>
                                <strong>2021:</strong><br>
                                Se Programar / Argentina Programa.
                            </li>
                            <li>
                                <strong>2018:</strong><br>
                                Workshop - Liderazgo conciente e integración emocional / CFP.
                                <br>
                                Inteligencia Emocional / CFP.
                                <br>
                                Excel Básico- Intermedio Avanzado/ CFP.
                            </li>
                            <li>
                                <strong>2017:</strong><br>
                                Eneagrama de la Personalidad, nivel 1 y 2 / CFP.
                                <br>
                                Negociación /CFP.
                            </li>
                            <li>
                                <strong>2016:</strong><br>
                                Workshop - Gestion de los Talentos / CFP.
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </section>
</section>
</section>