<section class="container mb-5 py-5">
    <div class="container-fluid bg-primary">
        <div class="container-fluid mb-2 py-5 ">
            <div class="row" class="col-sm-4 col-md-6 col-lg-12 mb-3">
                <div >
                    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                        <div class="form-group mb-4 py-2 text-white">
                            <label for="nombreE" class="mb-3">Nombre de la Institución :</label>
                            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>                    
                        </div>
                        <div class="form-group mb-4 text-white">
                            <label for="descripcionE" class="mb-3">Descripcion de Carrera/Curso :</label>
                            <textarea type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required></textarea>                   
                        </div>
                        <button class="btn btn-dark">Agregar Educación</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
