<header class="flex-wrap">
    <nav class="navbar navbar-light bg-info">
        <section class="container-fluid">
            <a href="#" class="navbar-brand" href="#">
                <img src="../../../assets/img/logs/APLogo2.png" alt="logo Argentina Programa" width="60" height="44"
                    class="d-inline-block align-text"/>Argentina Programa - #YoProgramo.
            </a>
            <div class="text-end">
                <a href="https://github.com/erkcgn" class="navbar-brand me-2" target="_blank">
                    <img src="../../../assets/img/logs/github.png" alt="github" width="30" height="24" />
                </a>
                <a href="https://www.linkedin.com/in/erika-cologne-a9553b205/" class="navbar-brand me-2" target="_blank">
                    <img src="../../../assets/img/logs/linkedin.png" alt="LinkedIn" width="30" height="24" />
                </a>
                <a href="https://www.instagram.com/erikgne_18/" class="navbar-brand me-2" target="_blank">
                    <img src="../../../assets/img/logs/instagram.png" alt="Instagram" width="30" height="24" />
                </a>
                <button class="btn btn-outline-light me-2" type="button" (click)="login()" *ngIf="!isLogged">Login</button>
                <button class="btn btn-outline-light me-2" type="button" (click)="onLogOut()" *ngIf="isLogged">LogOut</button>               
            </div>
        </section>
    </nav>        
</header>

