<section class="container py-2 bg-secondary bg-opacity-25">
    <section>
        <div class="row">    
            <div class="col-sm-4 col-md-6 col-lg-8 div-fuente-titulos">
                <h2>Hard & Soft skills</h2>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" class="col-lg-4">
                <button type="button" class="btn btn-dark btn-sm" routerLink="/newskill" *ngIf="isLogged">
                    Agregar Skill
                </button>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="text-center col-sm-12 col-md-6 col-lg-4" *ngFor="let skill of skill">
            <circle-progress 
                [percent]="(skill.porcentaje)" 
                [radius]="100" 
                [imageSrc]="(skill.nombre)" 
                [showImage]="true" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false"
                [showTitle]="false"
                [titleColor]="'#212F3C'"
                [titleColor]="'blue'"
                [titleFontSize]="'2emF'" 
                [showSubtitle]="false" 
                [outerStrokeWidth]="14" 
                [innerStrokeWidth]="7"
                [outerStrokeColor]="(skill.outerStrokeColor)" 
                [innerStrokeColor]="(skill.innerStrokeColor)" 
                [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <td *ngIf="isLogged">
                    <button class="btn" routerLink="/editskill/{{skill.id}}">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn" (click)="eliminar(skill.id)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </div>
        </div>        
    </div>
</section>
