<header class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-code"></i> Crear Skill
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="py-4 mb-4 bg-warning bg-opacity-25">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<section class="py-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-warning bg-opacity-10">
                        <h4>Completar Datos:</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                            <div class="form-group mb-3">
                                <label for="nombre">Ruta imgagén skill</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="imagen" required>                    
                            </div>
                            <div class="form-group mb-3">
                                <label for="porcentaje">Ingrese el Porcentaje</label>                        
                                <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="colorOut">Color OuterStrokeColor en Hexadecimal</label>                        
                                <input type="text" class="form-control" id="colorOut" name="colorOut" [(ngModel)]="outerStrokeColor" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="colorInn">Color InnerStrokeColor en Hexadecimal</label>                        
                                <input type="text" class="form-control" id="colorInn" name="colorInn" [(ngModel)]="innerStrokeColor" required>
                            </div>
                            
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <input type="submit" value="Crear Skill" class="btn btn-primary btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

