<section>
    <div class="row py-2">
    </div>
</section>
<section class="container-fluid bg-success bg-opacity-50">
    <div class="container">
        <br>
        <div class="row">
            <h2>Proyectos realizados</h2>
        </div>
        <br>
    </div>
    <div class="container bg-primary bg-opacity-50" >
        <div class="row">
            <div class="">
                <h3 class="text-center text-light">
                    Mi Portfolio Web
                </h3>
                <p class="text-light">
                    Este proyecto lo comence el 18 de Agosto del 2022, el contenido del mismo se conforma con base a lo requerido
                    en la Guía del <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip" class="link-light">Proyecto Integrador</a>. Buscando que la UI sea atractiva e innovadora y la UX completamente funcional.
                </p>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img src="../../../assets/img/imagenPortfolio.PNG" class="img-fluid mx-auto" width="300" height="300"
                            alt="imagen Portfolio">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img src="../../../assets/img/imagenPortfolio2.PNG" class="img-fluid mx-auto" width="300" height="300"
                            alt="imagen Portfolio 2">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img src="../../../assets/img/imagenPortfolio3.PNG" class="img-fluid mx-auto" width="300" height="300"
                            alt="imagen Portfolio 3">
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <section>
        <div class="row py-2">
        </div>
    </section>
    <div class="container bg-primary bg-opacity-50">
        <div class="row">
            <div class="">
                <h3>
                    Angular
                </h3>
                <p>

                </p>
            </div>
        </div>
    </div>
    <section>
        <div class="row py-2">
        </div>
    </section>
    <div class="container bg-primary bg-opacity-25">
        <div class="row">
            <div class="">
                <h3>
                    Practicando Front End
                </h3>
                <p>

                </p>
            </div>
        </div>
    </div>
    <section>
        <div class="row py-2">
        </div>
    </section>
    <div class="container bg-primary bg-opacity-10">
        <div class="row">
            <div class="">
                <h3>
                    Gestor de Stock - ISPC
                </h3>
                <p>

                </p>
            </div>
        </div>
    </div>
    <section>
        <div class="row py-2">
        </div>
    </section>
</section>
