<section>
    <div class="row py-3">
    </div>
</section>

<section class="container" class="bg-info">
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Experiencia Laboral
                </h2>
            </div>
        </div>
    </section>
    <section class="container-fluid" style="width: 80rem">
        <div class="row">
            <div class="card col-md-4">
                <div class="card-body">
                    <h4 class="card-header">
                        Evoltis Contac Center & BPO.
                        <h5>
                            2011 - 2022
                        </h5>
                    </h4>
                    <br>
                    <p class="card-text">
                        Contacto directo con Clientes y Gestión de equipos en proceso de ventas;
                        monitoreando el desempeño y acompañando con herramientas pertinentes para el
                        cumplimiento de los diferentes KPIs requeridos, proyectando el logro de los mismos.
                    </p>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-body">
                    <h4 class="card-header">
                        Estudio Contable Torres.

                        <h5>
                            2009-2009
                        </h5>
                    </h4>
                    <br>
                    <p class="card-text">
                        Tareas de Auxiliar.
                        <br>
                        Back-up de datos.
                    </p>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-body">
                    <h4 class="card-header">
                        Millenium Bienes Raíces - CRI.

                        <h5>
                            2008-2008
                        </h5>
                    </h4>
                    <br>
                    <p class="card-text">
                        Secretaria – Recepcionista
                        <br>
                        Tareas Administrativas.
                        Data entry
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row py-2">
        </div>
    </section>

    <section class="container-fluid" style="width: 80rem">
        <div class="row">
            <div class="card col-md-4">
                <div class="card-body">
                    <h4 class="card-header">
                        Work Group S.R.L.
                        <h5>
                            2007 - 2008.
                        </h5>
                    </h4>
                    <br>
                    <p class="card-text">
                        Administración Encargada de personal, realizar la liquidación.
                        Carga de ventas de los grupos de telemarketers.
                        Comunicación de planes estrategicos para mejorar la calidad en el equipo de trabajo.
                    </p>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-body">
                    <h4 class="card-header">
                        CCS Argentina.
                        <h5>
                            2005-2006.
                        </h5>
                    </h4>
                    <br>
                    <p class="card-text">
                        Representante de ventas senior
                        <br>
                        Ventas telefónicas de ADSL a España.
                    </p>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-body">
                    <h4 class="card-header">
                        Ian Satelital S.A.
                        <h5>
                            2004-2005.
                        </h5>
                    </h4>
                    <br>
                    <p class="card-text">
                        Atención al Cliente
                        <br>
                        Recepción y envió de mensajes.
                        <br>
                        Gestión de eventos de Alarmas.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row py-3">
        </div>
    </section>
</section>