<section>
    <div class="row py-1">
    </div>
</section>
<div class="container-fluid">
    <div class="col-md-3">
        <div class="card" style="width: 20rem">
            <img src="../../../assets/img/erika.PNG" class="card-img-top" alt="Mi Imagen">
            <div class="card-body">
                <h1 class="card-title">Erika Cologne</h1>
                <h4 class="card-subtitle mb-2 text-muted">Full Stack Developer Jr.</h4>

            </div>

        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <p class="card-text">Me encuentro actualmente cursando la Tecnicatura en Desarrollo web y
                Aplicaciones Digitales en el Instituto Superior Politécnico Córdobna - ISPC;
                tambien una capacitacion Full Stack Java Developer en EGG y realizando capacitaciones de manera
                autodidacta.
            </p>
        </div>
    </div>
</div>